.header-header {
  width: 100%;
  height: 100px;
  display: flex;
  position: relative;
  max-width: auto;
  min-height: 100%;
  align-items: center;
  justify-content: flex-start;
  background-color: #000000;
}
.header-contact {
  color: rgb(255, 255, 255);
  right: 0px;
  position: absolute;
  font-size: 18px;
  align-self: flex-start;
  margin-top: 1%;
  font-family: "Courier New";
  margin-right: 1%;
}
.header-contact1 {
  top: 0px;
  color: rgb(255, 255, 255);
  right: 0px;
  position: absolute;
  font-size: 18px;
  align-self: flex-start;
  margin-top: 3%;
  font-family: "Courier New";
  margin-right: 1%;
}
.header-navlink {
  text-decoration: underline;
}
.header-navlink1 {
  text-decoration: underline;
}
.header-navlink2 {
  text-decoration: underline;
}



@media(max-width: 767px) {
  .header-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .header-header {
    padding: var(--dl-space-space-unit);
  }
  .header-contact {
    left: 57px;
    color: rgb(255, 255, 255);
    bottom: -53px;
    position: static;
    font-size: 18px;
    text-align: center;
    font-family: Courier New;
  }
  .header-contact1 {
    left: 57px;
    color: rgb(255, 255, 255);
    bottom: -53px;
    position: static;
    font-size: 18px;
    text-align: center;
    font-family: Courier New;
  }
}

.longpantsxyz-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #000000;
}
.longpantsxyz-post-setup {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-bottom: 10%;
  flex-direction: column;
}
.longpantsxyz-title-date-body {
  flex: 0 0 auto;
  width: 631px;
  height: min-content;
  display: flex;
  align-self: flex-start;
  margin-top: 10%;
  align-items: flex-start;
  margin-left: 10%;
  border-color: #ffffff;
  border-width: 3px;
  flex-direction: column;
}
.longpantsxyz-date-posted {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-top: 10px;
  font-family: "Courier New";
  margin-left: 10px;
}
.longpantsxyz-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.longpantsxyz-body {
  color: rgb(255, 255, 255);
  font-size: 17px;
  align-self: flex-start;
  margin-top: 10px;
  font-family: "Courier New";
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: rgb(0, 0, 0);
}
.longpantsxyz-text04 {
  color: #ffffff;
  font-size: 17px;
  font-family: "Courier New";
  background-color: rgb(0, 0, 0);
}
.longpantsxyz-text07 {
  color: #ffffff;
  font-size: 17px;
  font-family: "Courier New";
  background-color: rgb(0, 0, 0);
}
.longpantsxyz-text10 {
  color: #ffffff;
  font-size: 17px;
  font-family: "Courier New";
  background-color: rgb(0, 0, 0);
}
.longpantsxyz-text13 {
  color: #ffffff;
  font-size: 17px;
  font-family: "Courier New";
  background-color: rgb(0, 0, 0);
}
.longpantsxyz-text16 {
  color: #ffffff;
  font-size: 17px;
  font-family: "Courier New";
  background-color: rgb(0, 0, 0);
}
.longpantsxyz-text19 {
  color: #ffffff;
  font-size: 17px;
  font-family: "Courier New";
  background-color: rgb(0, 0, 0);
}
.longpantsxyz-text22 {
  color: #ffffff;
  font-size: 17px;
  font-family: "Courier New";
  background-color: rgb(0, 0, 0);
}
.longpantsxyz-text25 {
  color: #ffffff;
  font-size: 17px;
  font-family: "Courier New";
  background-color: rgb(0, 0, 0);
}
.longpantsxyz-text28 {
  color: #ffffff;
  font-size: 17px;
  font-family: "Courier New";
  background-color: rgb(0, 0, 0);
}
.longpantsxyz-text31 {
  color: #ffffff;
  font-size: 17px;
  font-family: "Courier New";
  background-color: rgb(0, 0, 0);
}
.longpantsxyz-text34 {
  color: #ffffff;
  font-size: 17px;
  font-family: "Courier New";
  background-color: rgb(0, 0, 0);
}
.longpantsxyz-text37 {
  color: #ffffff;
  font-size: 17px;
  font-family: "Courier New";
  background-color: rgb(0, 0, 0);
}
.longpantsxyz-text40 {
  color: #ffffff;
  font-size: 17px;
  font-family: "Courier New";
  background-color: rgb(0, 0, 0);
}
@media(max-width: 991px) {
  .longpantsxyz-title-date-body {
    left: 0px;
    right: 0px;
    width: 80%;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20%;
  }
  .longpantsxyz-body {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
}
@media(max-width: 767px) {
  .longpantsxyz-title-date-body {
    width: 90%;
    height: auto;
  }
  .longpantsxyz-body {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
}
@media(max-width: 479px) {
  .longpantsxyz-title-date-body {
    height: auto;
    margin-right: auto;
  }
  .longpantsxyz-body {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
    background-color: rgb(0, 0, 0);
  }
}
