.all-posts-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
}
.all-posts-header {
  width: 100%;
  height: 100px;
  position: relative;
  max-width: auto;
  min-height: 100%;
  align-items: center;
  justify-content: flex-start;
}
.all-posts-contact {
  color: rgb(255, 255, 255);
  right: 0px;
  position: absolute;
  font-size: 18px;
  align-self: flex-start;
  margin-top: 15px;
  font-family: "Courier New";
  margin-right: 20px;
}
.all-posts-text {
  top: 53px;
  color: rgb(255, 255, 255);
  right: 20px;
  position: absolute;
  font-size: 18px;
  font-family: "Courier New";
}
.all-posts-navlink {
  text-decoration: underline;
}
.all-posts-navlink01 {
  text-decoration: underline;
}
.all-posts-navlink02 {
  text-decoration: underline;
}
.all-posts-post-setup {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-bottom: 10%;
  flex-direction: column;
}
.all-posts-title-date-body {
  flex: 0 0 auto;
  width: 631px;
  height: min-content;
  display: flex;
  align-self: flex-start;
  margin-top: 10%;
  align-items: flex-start;
  margin-left: 10%;
  border-color: #ffffff;
  border-width: 3px;
  flex-direction: column;
}
.all-posts-post-heading {
  color: rgb(255, 255, 255);
  font-size: 35px;
  align-self: flex-start;
  margin-top: 10px;
  font-family: "Courier New";
  margin-left: 10px;
  text-transform: lowercase;
}
.all-posts-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  margin-left: 1%;
  margin-right: 1%;
  flex-direction: column;
}
.all-posts-body {
  color: rgb(255, 255, 255);
  font-size: 17px;
  align-self: flex-start;
  margin-top: 10px;
  font-family: "Courier New";
  line-height: 1.5;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: rgb(0, 0, 0);
}
.all-posts-navlink03 {
  text-decoration: underline;
}
.all-posts-navlink04 {
  text-decoration: underline;
}
.all-posts-navlink05 {
  text-decoration: underline;
}
.all-posts-navlink06 {
  text-decoration: underline;
}
.all-posts-navlink07 {
  text-decoration: underline;
}
.all-posts-navlink08 {
  text-decoration: underline;
}
.all-posts-text08 {
  text-decoration: underline;
}
.all-posts-navlink09 {
  text-decoration: underline;
}
.all-posts-text09 {
  text-decoration: underline;
}
.all-posts-navlink10 {
  text-decoration: underline;
}
.all-posts-navlink11 {
  text-decoration: underline;
}
.all-posts-navlink12 {
  text-decoration: underline;
}
.all-posts-navlink13 {
  text-decoration: underline;
}
.all-posts-navlink14 {
  text-decoration: underline;
}
.all-posts-navlink15 {
  text-decoration: underline;
}
.all-posts-navlink16 {
  text-decoration: underline;
}
.all-posts-navlink17 {
  text-decoration: underline;
}
.all-posts-navlink18 {
  text-decoration: underline;
}
.all-posts-navlink19 {
  text-decoration: underline;
}
.all-posts-navlink20 {
  text-decoration: underline;
}
.all-posts-navlink21 {
  text-decoration: underline;
}
.all-posts-navlink22 {
  text-decoration: underline;
}
.all-posts-navlink23 {
  text-decoration: underline;
}
.all-posts-navlink24 {
  text-decoration: underline;
}
.all-posts-navlink25 {
  text-decoration: underline;
}
.all-posts-navlink26 {
  text-decoration: underline;
}
@media(max-width: 991px) {
  .all-posts-title-date-body {
    left: 0px;
    right: 0px;
    width: 80%;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20%;
  }
  .all-posts-body {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-navlink03 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-text03 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-navlink04 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-text04 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-navlink05 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-text05 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-navlink06 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-text06 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-navlink07 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-text07 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-navlink08 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-text08 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-navlink09 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-text09 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-navlink10 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-text10 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-navlink11 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-text11 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-navlink12 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-text12 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-navlink13 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-text13 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-navlink14 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-text14 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-navlink15 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-text15 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-navlink16 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-text16 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-navlink17 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-text17 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-navlink18 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-text18 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-navlink19 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-text19 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-navlink20 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-text20 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-navlink21 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-text21 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-navlink22 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-text22 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-navlink23 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-text23 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-navlink24 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-text24 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-navlink25 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-text25 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
}
@media(max-width: 767px) {
  .all-posts-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .all-posts-title-date-body {
    width: 90%;
    height: auto;
  }
  .all-posts-body {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-navlink03 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-text03 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-navlink04 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-text04 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-navlink05 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-text05 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-navlink06 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-text06 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-navlink07 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-text07 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-navlink08 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-text08 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-navlink09 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-text09 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-navlink10 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-text10 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-navlink11 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-text11 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-navlink12 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-text12 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-navlink13 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-text13 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-navlink14 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-text14 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-navlink15 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-text15 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-navlink16 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-text16 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-navlink17 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-text17 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-navlink18 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-text18 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-navlink19 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-text19 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-navlink20 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-text20 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-navlink21 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-text21 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-navlink22 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-text22 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-navlink23 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-text23 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-navlink24 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-text24 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-navlink25 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
  .all-posts-text25 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
  }
}
@media(max-width: 479px) {
  .all-posts-header {
    padding: var(--dl-space-space-unit);
  }
  .all-posts-contact {
    left: 0px;
    color: rgb(255, 255, 255);
    right: 0px;
    margin: auto;
    font-size: 18px;
    text-align: center;
    font-family: Courier New;
  }
  .all-posts-title-date-body {
    height: auto;
    margin-right: auto;
  }
  .all-posts-body {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
    background-color: rgb(0, 0, 0);
  }
  .all-posts-navlink03 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
    background-color: rgb(0, 0, 0);
  }
  .all-posts-text03 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
    background-color: rgb(0, 0, 0);
  }
  .all-posts-navlink04 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
    background-color: rgb(0, 0, 0);
  }
  .all-posts-text04 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
    background-color: rgb(0, 0, 0);
  }
  .all-posts-navlink05 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
    background-color: rgb(0, 0, 0);
  }
  .all-posts-text05 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
    background-color: rgb(0, 0, 0);
  }
  .all-posts-navlink06 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
    background-color: rgb(0, 0, 0);
  }
  .all-posts-text06 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
    background-color: rgb(0, 0, 0);
  }
  .all-posts-navlink07 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
    background-color: rgb(0, 0, 0);
  }
  .all-posts-text07 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
    background-color: rgb(0, 0, 0);
  }
  .all-posts-navlink08 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
    background-color: rgb(0, 0, 0);
  }
  .all-posts-text08 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
    background-color: rgb(0, 0, 0);
  }
  .all-posts-navlink09 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
    background-color: rgb(0, 0, 0);
  }
  .all-posts-text09 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
    background-color: rgb(0, 0, 0);
  }
  .all-posts-navlink10 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
    background-color: rgb(0, 0, 0);
  }
  .all-posts-text10 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
    background-color: rgb(0, 0, 0);
  }
  .all-posts-navlink11 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
    background-color: rgb(0, 0, 0);
  }
  .all-posts-text11 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
    background-color: rgb(0, 0, 0);
  }
  .all-posts-navlink12 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
    background-color: rgb(0, 0, 0);
  }
  .all-posts-text12 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
    background-color: rgb(0, 0, 0);
  }
  .all-posts-navlink13 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
    background-color: rgb(0, 0, 0);
  }
  .all-posts-text13 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
    background-color: rgb(0, 0, 0);
  }
  .all-posts-navlink14 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
    background-color: rgb(0, 0, 0);
  }
  .all-posts-text14 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
    background-color: rgb(0, 0, 0);
  }
  .all-posts-navlink15 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
    background-color: rgb(0, 0, 0);
  }
  .all-posts-text15 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
    background-color: rgb(0, 0, 0);
  }
  .all-posts-navlink16 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
    background-color: rgb(0, 0, 0);
  }
  .all-posts-text16 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
    background-color: rgb(0, 0, 0);
  }
  .all-posts-navlink17 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
    background-color: rgb(0, 0, 0);
  }
  .all-posts-text17 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
    background-color: rgb(0, 0, 0);
  }
  .all-posts-navlink18 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
    background-color: rgb(0, 0, 0);
  }
  .all-posts-text18 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
    background-color: rgb(0, 0, 0);
  }
  .all-posts-navlink19 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
    background-color: rgb(0, 0, 0);
  }
  .all-posts-text19 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
    background-color: rgb(0, 0, 0);
  }
  .all-posts-navlink20 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
    background-color: rgb(0, 0, 0);
  }
  .all-posts-text20 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
    background-color: rgb(0, 0, 0);
  }
  .all-posts-navlink21 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
    background-color: rgb(0, 0, 0);
  }
  .all-posts-text21 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
    background-color: rgb(0, 0, 0);
  }
  .all-posts-navlink22 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
    background-color: rgb(0, 0, 0);
  }
  .all-posts-text22 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
    background-color: rgb(0, 0, 0);
  }
  .all-posts-navlink23 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
    background-color: rgb(0, 0, 0);
  }
  .all-posts-text23 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
    background-color: rgb(0, 0, 0);
  }
  .all-posts-navlink24 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
    background-color: rgb(0, 0, 0);
  }
  .all-posts-text24 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
    background-color: rgb(0, 0, 0);
  }
  .all-posts-navlink25 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
    background-color: rgb(0, 0, 0);
  }
  .all-posts-text25 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Courier New;
    background-color: rgb(0, 0, 0);
  }
}
